<div class="card mx-4 my-4">
  <div class="card-header">
    <ul class="nav nap-pills card-header-pills">
      <li>
        <button class="btn btn-success" type="button" (click)="connect()" *ngIf="!statusConnect">Connect</button>
      </li>
      <li>
        <button class="btn btn-warning" type="button" (click)="disconnect() " *ngIf="statusConnect">Disconnect</button>
      </li>
    </ul>
  </div>
  <div class="card-body" style="overflow: scroll; height: 50vh" *ngIf="statusConnect">
    <table>
      <thead>
      <th></th>
      <th></th>
      </thead>
      <tbody *ngFor="let message of messages">
      <tr>
        <td>{{message.id}}</td>
        <td>{{message.text}}</td>
        <td>
            <button class="btn btn-primary" (click)="delete(message)">DELETE</button>
            <button class="btn btn-primary" (click)="edit(message)">EDIT</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer" *ngIf="statusConnect">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="message.id" placeholder="Введите заголовок" name="text"
               style=""/>
        <input type="text" class="form-control" [(ngModel)]="message.text" placeholder="Введите заметку" name="text"
               style=""/>
      </div>
      <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    </form>
  </div>
</div>
